%section#banner
  %h2 Я ищу свой дом!
  %p Помогите питомцу найти своего хозяина!
  %ul.actions
    %li
      %a.button.special{:href => "#main"} Приютить питомца
    %li
      %a.button{:href => new_post_path} Сделать объявление
/ Main
%section#main.container
  %section.box.special.grey
    %header
      %h2
        Приютите будущего друга!
      %p
        Уже
        %b{style: 'font-weight: bold'}
          234
        питомцев нашли своих хозяев
      .row.features-row.tablist
        %li.4u.tab.active
          %a{href: '#', 'data-tab-id' => 'cats'}
            %span.icon.major.accent2
              = inline_svg('cat31.svg', class: "feature-image")
            %h4 Кошки
        %li.4u.tab
          %a{href: '#', 'data-tab-id' => 'dogs'}
            %span.icon.major.accent4
              = inline_svg('dog.svg', class: "feature-image")
            %h4 Собаки
        %li.4u.tab
          %a{href: '#', 'data-tab-id' => 'another'}
            %span.icon.major.accent5
              = inline_svg('parrot.svg', class: "feature-image")
            %h4 Другие животные
    .pets.tab-content
      .tab-pane.active#cats
        - @cats_posts.in_groups_of(3, false).each do |posts_group|
          .row
            - posts_group.each do |post|
              .4u{:class => "12u(narrower)"}
                %section.box.special.pet
                  %span.image.featured
                    .background-image{style: "background-image: url('#{post.photo.thumb}')" }
                  %h3= post.nickname
                  %p= post.description.truncate(50, separator: '.')
                  %ul.actions
                    %li
                      %a.button.alt{:href => post_path(post)} Узнать больше
      .tab-pane#dogs
        - @dogs_posts.in_groups_of(3, false).each do |posts_group|
          .row
            - posts_group.each do |post|
              .4u{:class => "12u(narrower)"}
                %section.box.special.pet
                  %span.image.featured
                    .background-image{style: "background-image: url('#{post.photo.thumb}')" }
                  %h3= post.nickname
                  %p= post.description.truncate(50, separator: '.')
                  %ul.actions
                    %li
                      %a.button.alt{:href => post_path(post)} Узнать больше
      .tab-pane#another
        - @another_posts.in_groups_of(3, false).each do |posts_group|
          .row
            - posts_group.each do |post|
              .4u{:class => "12u(narrower)"}
                %section.box.special.pet
                  %span.image.featured
                    .background-image{style: "background-image: url('#{post.photo.thumb}')" }
                  %h3= post.nickname
                  %p= post.description.truncate(50, separator: '.')
                  %ul.actions
                    %li
                      %a.button.alt{:href => post_path(post)} Узнать больше
