.page-header
  %h2= @post.nickname
.row
  .4u
    %p
      = image_tag @post.photo.thumb
  .8u
    .row-fluid
      %b
        Описание:
      = @post.description
    .row-fluid
      %b
        Как найти:
      = @post.place
    .row-fluid
      %b
        Пол:
      = @post.sex_text
    .row-fluid
      %b
        Узнать больше по телефону:
      = @post.phone
      %b
        или
      %a{href: "https://vk.com/id#{@post.user.authentications.first.uid}" }
        %b
        Связаться вконтакте
    .row-fluid
      %b
        Стерилизован?
      - if @post.sterilization.sterilized?
        Да
      - elsif @post.sterilization.not_sterilized?
        Нет
      - else
        = @post.sterilization_text
    .row-fluid
      %b
        Привит?
      - if @post.inoculation.vaccinated?
        Да
      - elsif @post.inoculation.not_vaccinated?
        Нет
      - else
        = @post.inoculation_text
.row
  .12u
    .row-fluid
      %b
        Адрес:
      = @post.address

  .12u
    = render 'map', city: @post.city, address: @post.address
