.page-header
  %h2= @post.nickname
.row
  .4u
    %p
      = image_tag @post.photo.thumb
  .8u
    .row-fluid
      Как найти:
      = @post.place
    .row-fluid
      Описание:
      = @post.description
    .row-fluid
      Пол:
      = @post.sex_text
    .row-fluid
      Узнать больше по телефону:
      = @post.user.phone
    .row-fluid
      Стерилизован?
      - if @post.sterilization.sterilized?
        Да
      - elsif @post.sterilization.not_sterilized?
        Нет
      - else
        = @post.sterilization_text
    .row-fluid
      Привит?
      - if @post.inoculation.vaccinated?
        Да
      - elsif @post.inoculation.not_vaccinated?
        Нет
      - else
        = @post.inoculation_text
.row
  .12u
    .row-fluid
      Адрес:
      = @post.address

  .12u
    this is map
